.img-fundadora, .img-equipo{
      width: 350px;
      height: 350px;
      float: left;
}

.fundadora{
    font-weight: bold;
    padding: 18px;

}

.parrafo{
    float: right;
    font-family: sans-serif;
    padding: 12px;
    text-align: center;
}

.img-charla{
    width: 270px;
    height: 300px;
    border-radius: 250px;
    padding: 22px;
}

.title-charla{
    text-align: center;
    padding: 17px;
    font-weight: bold;
}