.img-fundadora, .img-equipo{
      width: 350px;
      height: 350px;
      float: left;
}

.fundadora{
    font-weight: bold;
    padding: 18px;

}

.parrafo{
    float: right;
    font-family: sans-serif;
    padding: 12px;
    text-align: center;
}