.img-fundadora, .img-equipo{
    width: 70%;
    margin: 20px;
}

.fundadora{
    font-family: 'Bebas Neue Bold';
}

.parrafo{
    float: right;
    font-family: sans-serif;
    padding: 12px;
    text-align: center;
}
.text-flex{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}
.img-charla{
    width: 270px;
    height: 300px;
    border-radius: 250px;
    padding: 22px;
}

.title-charla{
    text-align: center;
    padding: 17px;
    font-weight: bold;
}
.cont-corazon .row{
    padding-top: 50px;
}