*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
#root{
    position: relative;
    display: block;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    overflow: hidden;
}
.bg-light {
    background-color: #ffffff!important;
}
.cont-slider{
    width: 100%;
    display: block;
    position: relative;
}
.fa-chevron-left, .fa-chevron-right{
    color: black;
    font-size: 40px;
}
.mr-auto, .mx-auto {
    margin-right: 0!important;
    margin-left: auto!important;
}
.navbar .nav-link{
    font-family: 'Bebas Neue Bold';
}
footer{
    background: #000000;
    color: #ffffff;
    
}
.nav-link {
    font-size: 22px;
}
footer i{
 font-size: 30px;
}
.carousel-item .img-desktop{
    display: block !important;
}
.carousel-item .img-mob{
    display: none !important;
}
.cont-footer{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 10px;
}
.cont-icon{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 4px;
}
.cont-icon i{
    margin-right: 5px;
}
.cont-redes{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
}
.cont-redes a{
    color: #ffffff;
}
.navbar .logo{
    width: 150px;
}
.navbar .logo img{
    position: relative;
    width: 100%;
}
.cont-footer p{
    font-size: 18px;
}
.cont-somos h3{
    text-align: center;
    font-family: 'Bebas Neue Bold';
}
.cont-somos .cont-mitad{
    position: relative;
    display: inline-block;
    width: 40%;
}
.cont-somos.right .cont-mitad{
    position: relative;
    display: inline-block;
    width: 100%;
}
.cont-somos.left{
    background-color: rgb(230, 230, 230);
    position: relative;
    display: block;
    height: 100%;
    padding: 30px 20px;
}
.cont-somos.right{
    background-color: rgb(255,255,255);
    position: relative;
    display: block;
    height: 100%;
    padding: 30px 20px;
}
.cont-somos .cont-informacion.somos{
    display: flex;
    justify-content: space-around;
    flex-direction: row
}
.cont-somos .cont-informacion{
    display: flex;
    flex-direction: column;

}
.cont-somos .cont-informacion.somos{
    padding-top: 60px
}
.cont-somos .cont-img{
    text-align: center;
}
.cont-somos .box-que{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.cont-somos .p-somos span{
    font-family: 'Bebas Neue Bold';
    font-size: 30px;

}
.cont-somos.right{
    width: 33%;

}
.cont-somos.left{
 
    width: 100%;
}
.cont-mision-vision{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px){
    .carousel-item .img-desktop{
        display: none !important;
    }
    .carousel-item .img-mob{
        display: block !important;
    }
    .cont-somos.left {
        padding: 0;
    }
    .cont-mitad .img-somos {
        width: 100%;
    }
    .cont-somos .cont-mitad {
        width: 65%;
        padding:15px;
    }
    .cont-somos .cont-mitad.img-mob-cont{
        width: 30%;
    }
    .img-somos {
        width: 100%;
    }
    .cont-mision-vision {
        padding-top: 50px;
        flex-direction: column;
    }
    .cont-somos .cont-informacion {
        flex-direction: row;
    }
    .cont-somos.right {
        width: 100%;
    }
    .box-que p{
        font-size: 14px;
    line-height: 18px;
    }
}
@media (max-width: 480px){
    .cont-somos .cont-informacion.somos {
        flex-direction: column-reverse;
        padding-top: 40px;
        align-items: center;
    }
    .cont-somos .cont-mitad {
        width: 100%;
        padding: 15px;
    }
    .cont-somos .cont-mitad.img-mob-cont {
        width: 50%;
    }
    .cont-somos .cont-informacion {
        flex-direction: column;
    }
    .row.flex-reves{
        display: flex;
    flex-direction: column-reverse;
    }
    .parrafo{
        
            font-size: 14px;
            line-height: 18px;
        
    }

}